@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #6d27f9;
  --gradDarkBlue: #6A67EA;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Nunito;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  line-height: normal !important;
}

i, img {
  vertical-align: middle;
}

input[type="checkbox"]:focus {
  outline: none;
  --tw-ring-offset-width: 0
}

a {
  color: inherit;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.clamp_1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.clamp_2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.CircularProgressbar-text {
  font-weight: 900;
}

.sidebarToggled #sidebar {
  width: 50px;
}
.sidebarToggled #topbar {
  width: calc(100% - 50px) !important;
  left: 50px !important;
}
.layoutWrap {
  margin-left: 270px;
  margin-top: 65px;
}
.sidebarToggled .layoutWrap {
  margin-left: 50px;
  margin-top: 65px;
}

.dashboardSlider button.slick-arrow {
  background: #fff;
  font-size: 14px;
  color: #727272;
  width: 20px;
  height: 30px;
}

.dashboardSlider button.slick-arrow:hover {
  background: #727272;
  color: #fff;
}

.dashboardSlider button.slick-arrow::before {
  display: none;
}

.dashboardSlider button.slick-prev {
  border-radius: 0 4px 4px 0;
  box-shadow: 3px 0px 3px rgb(0 0 0 / 10%);
  left: -24px;
}
.dashboardSlider button.slick-next {
  border-radius: 4px 0 0 4px;
  box-shadow: -3px 0px 3px rgb(0 0 0 / 10%);
  right: -24px;
}

#dashboard > div > div:first-child > div > div:first-child {
  padding-left: 100px;
}

.iconGroup {
  position: relative;
}
.iconGroup .iconGroup__icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: var(--primary);
}
.dark .iconGroup .iconGroup__icon {
  color: #fff;
}
.iconGroup input {
  padding-left: 40px;
}
.iconGroup.right .iconGroup__icon-right {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: gray;
  cursor: pointer;
}
.iconGroup.right input {
  padding-right: 40px;
  padding-left: 15px;
}
.iconGroup.delete .iconGroup__icon-delete {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: gray;
  cursor: pointer;
}
.iconGroup.delete .iconGroup__icon-delete:hover {
  color: red;
}
.iconGroup.delete input {
  padding-right: 40px;
}
.iconGroup.social .iconGroup__icon {
  font-size: 24px;
  color: #111;
}
.dark .iconGroup.social .iconGroup__icon {
  color: #fff;
}
.iconGroup.social input {
  padding-left: 60px;
}

.multiSelectContainer .searchWrapper {
  border-color: #e5e7eb;
  border-radius: 12px;
  min-height: 45px;
}
.multiSelectContainer .searchWrapper .chip {
  margin: 2px 2px 1px;
  background: #cdcdcd;
  font-size: 12px;
  vertical-align: sub;
  color: #333;
}
.multiSelectContainer .searchWrapper input#search_input {
  margin: 2px 2px 1px;
  line-height: 1;
  padding: 2px 5px;
  font-size: 14px;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
}
.multiSelectContainer ul li.option, .multiSelectContainer ul .notFound {
  font-size: 12px;
  padding: 8px 10px;
}
.multiSelectContainer ul li.option.highlight, .multiSelectContainer ul li.option:hover {
  background-color: var(--gradDarkBlue);
}
.multiSelectContainer .searchWrapper input#search_input:focus {
  box-shadow: none;
}
.dark .multiSelectContainer .searchWrapper, 
.dark .optionListContainer {
  background-color: #374151;
  border-color: #4b5563;
}
.dark .multiSelectContainer .searchWrapper img.icon_cancel.icon_down_dir {
  filter: invert(1);
}
.dark .ql-toolbar.ql-snow {
  background-color: #fff;
}
.dark .ql-container.ql-snow, .dark .react-datepicker__input-container input {
  border-color: #4b5563 !important;
}
.dark .ql-editor, .dark .react-datepicker__input-container input {
  background: #374151;
}
.ql-editor {
  min-height: 180px;
}
.ql-toolbar.ql-snow {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-color: #e5e7eb !important;
}
.ql-container.ql-snow {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-color: #e5e7eb !important;
  overflow: hidden;
}
.react-datepicker-popper {
  width: 320px;
}
.react-datepicker__month-container {
  width: calc(100% - 85px);
  overflow: auto;
}
.react-datepicker__input-container input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 14px;
  color: #727272;
  min-height: 45px;
}

.upgradePlan {
  background-image: url("../../public/images/bigger_upgragePlan.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

@media (max-width: 1023px) {
  .sidebarToggled #sidebar {
    width: 48px;
  }
  main:not(.sidebarToggled) #overlay {
    display: block !important;
  }
  .sidebarToggled #topbar {
    width: calc(100% - 0px) !important;
    left: 0 !important;
  }
  .layoutWrap, .sidebarToggled .layoutWrap {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1100px;
  }
}